<div class="cover center">
  <form role="form">
    <div class="form-group row">
      <div class="col-md-5"><label for="dob" class="col-md-2">DOB</label></div>
      <div class="col-md-7"><input type="text" class="col-md-3 form-control" id="dob" name="dob" placeholder="yyyy/mm/dd"></div>
    </div>

    <div class="form-group row">
      <div class="col-md-5"><label for="cal_date">Ngay tinh</label></div>
      <div class="col-md-7"><input type="text" name="cal_date" placeholder="yyyy/mm/dd" class="form-control"></div>
    </div>

    <div class="form-group row">
      <button type="submit" class="btn btn-primary col-md-12">Tinh</button>
    </div>
  </form>
  <p>Tuoi: <span id="r"></span></p>

  <table class="table">
    <tr><th id="5" class="age-group">R5</th></tr>
    <tr><th id="7" class="age-group">R7</th></tr>
    <tr><th id="8" class="age-group">R8</th></tr>
    <tr><th id="12" class="age-group">R12</th></tr>
    <tr><th id="13" class="age-group">R13</th></tr>
    <tr><th id="14" class="age-group">R14</th></tr>
    <tr><th id="15" class="age-group">R15</th></tr>
    <tr><th id="16" class="age-group">R16</th></tr>
    <tr><th id="17" class="age-group">R17</th></tr>
  </table>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $("button[type='submit']").click(function() {
    console.log("=======================");
    
    var calDate = new Date($("input[name='cal_date']").val());
    var dob = new Date($("input[name='dob']").val());
    
    var milestone = new Date($("input[name='dob']").val());
    milestone.setFullYear(calDate.getFullYear());
    console.log(milestone);

    var sixMonthsFromMilestone = new Date(milestone);
    sixMonthsFromMilestone.setMonth(sixMonthsFromMilestone.getMonth() + 6)
    console.log(sixMonthsFromMilestone);

    var oneYearFromMilestone = new Date(milestone);
    oneYearFromMilestone.setMonth(oneYearFromMilestone.getMonth() + 12)
    console.log(oneYearFromMilestone);

    var calFrom;
    if (calDate < sixMonthsFromMilestone) {
      calFrom = milestone;
    } else {
      calFrom = oneYearFromMilestone;
    };
    console.log(calFrom);

    age = calFrom.getFullYear() - dob.getFullYear();
    $('#r').html(age);
    $('.age-group').removeClass('success');
    if (age < 69) {
      $('#5').addClass("success");
      $('#7').addClass("success");
    };
    if (age < 60) {
      $('#8').addClass("success");
    };
    if (age < 56 || (age > 57 && age < 60)) {
      $('#12').addClass("success");
    };

    event.preventDefault();
  });
});
</script>