html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

.center {
  margin: 0 auto;
}

.cover {
  width: 300px;
  min-width: 200px;
}

.width-100 {
  width: 100%;
}

#r {
  font-size: 200%;
  font-weight: bold;
}

.text-center {
  text-align: center;
}